.masonryGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 7rem;
  gap: 1rem;
  padding: 1.25rem;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.masonryItem {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  grid-row-end: span 2;
}

.masonryGrid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    var(--snowdrop) 0%,
    var(--snowdrop) 1%,
    transparent 20%,
    transparent 75%,
    var(--snowdrop) 97%,
    var(--snowdrop) 100%
  );
  pointer-events: none;
  z-index: 10;
}
