.aboutUsContainer {
  max-width: 40rem;
}

.aboutUsLink {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  border: none;
  height: fit-content;
  cursor: pointer;
  background: var(--terracotta);
  color: var(--snowdrop);
  text-decoration: none;
}

.aboutUsLink:hover {
  background: var(--terracotta-dark);
  color: var(--snowdrop);
}

.aboutUsLinksWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.aboutUsContainer p {
    margin-bottom: 1rem;
}

.aboutUsLinkIcon {
    transform: rotate(180deg);
    color: var(--snowdrop);
}
