.registerForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: 600;
}

.registerLabel {
  display: flex;
  flex-direction: column;
}

.signInButton {
  color: var(--charcoal);
  background: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

/* grid */

.registerForm {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem 2rem;
  width: 100%;
  margin: 2rem auto 1rem auto;
}

/* Vertical divider line */
.registerForm::before {
  content: '';
  grid-column: 2;
  grid-row: 1 / 4;
  width: 3px;
  border-radius: 9999px;
  background-color: var(--dark-vanilla);
  justify-self: center;
}

/* Password fields */
.registerForm > label:nth-child(4) { /* Password */
  grid-column: 3;
  grid-row: 1;
}

.registerForm > label:nth-child(5) { /* Repeat password */
  grid-column: 3;
  grid-row: 2;
}

.passwordRequirements {
  grid-column: 3;
  grid-row: 3;
}

.registerForm > button[type="submit"] {
  grid-column: 1 / -1;
  margin-top: 1rem;
}


/* Error and feedback */

.error {
  width: 22.5rem;
  height: 1.5rem;
}

.noError {
  width: 22.5rem;
  height: 1.5rem;
}

.pwReqSuccess {
  color: var(--stem-success);
}

.pwReqFailure {
  color: var(--rosie-danger);
}

.passwordRequirements {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.passwordRequirement {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}