.registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.pwReqSuccess {
  color: green;
}

.pwReqFailure {
  color: red;
}

.passwordRequirements {
  margin-top: 8px;
  font-size: 14px;
}