.landingPageWrapper {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 4.03rem);
}


.creatingButton {
  align-self: center;
  margin-top: 2rem;
}

.landingPageCtaContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.aboutUsButton {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 0;
  margin: 1rem;
  transform-origin: center;
}

.aboutUsButton:hover {
  animation: wave 0.8s ease-in-out infinite;
}

@keyframes wave {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(30deg);
  }
  100% {
      transform: rotate(0deg);
  }
}