.circleLabel {
    cursor: pointer;
    display: inline-block;
  }
  
  .visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  
  .flooringCircle {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid transparent;
    background-size: cover;
    background-position: center;
    transition: border-color 0.2s;
  }
  
  .flooringCircle.selected {
    border-color: var(--cornflower-active);
  }
  
  .visuallyHidden:focus-visible + .flooringCircle {
    border-color: var(--cornflower-active);
    outline-offset: 2px;
  }