.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0.25rem 1rem;
}

.topBarDividerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14rem;
}

.topBarDividerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.unsavedChanges {
    font-size: 0.875rem;
    padding: 0.2rem 0.55rem;
    border-radius: 9999px;
    background: var(--buttercup-warning);
    color: var(--snowdrop);
}

.workspaceSection {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 1rem 1rem 1rem;
}

.canvasContainer {
    flex-grow: 1;
    background-color: var(--dark-vanilla);
}

.sideBarForm {
    display: flex;
    flex-direction: column;
    width: 17.25rem;
    height: 80vh;
    border-radius: 0.75rem;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--vanilla);
    margin-right: -1.25rem; /* Overlaps to the left */
    z-index: 10; /* Ensures it appears on top of canvas */
}

.sideBarToggleBoxes{
    position: relative;
    width: 17.25rem;
    height: 3.5rem;
    margin: -1rem -1rem 0 -1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Frames selected scenario */
.sofaButtonBase {
    font-size: 1.25rem;
    z-index: 10;
    width: 80%;
    height: 2.5rem;
    border-radius: 0.75rem 0.75rem 0 0;
    margin: 0 0 0 -0.75rem;
    border: none;
    background: var(--vanilla);
    color: var(--charcoal);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 15px -2px 11px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.framesButtonActive {
    font-size: 1.25rem;
    z-index: 15;
    width: 80%;
    height: 2.5rem;
    border-radius: 0.75rem 0.75rem 0 0;
    margin: 0 0 0 0;
    border: none;
    background-color: var(--vanilla);
    color: var(--charcoal);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Sofa selected scenario */
.framesButtonBase {
    font-size: 1.25rem;
    z-index: 10;
    width: 80%;
    height: 2.5rem;
    border-radius: 0.75rem 0.75rem 0 0;
    margin: 0 -0.25rem 0 0;
    border: none;
    background: var(--vanilla);
    color: var(--charcoal);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -15px -2px 11px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.sofaButtonActive {
    font-size: 1.25rem;
    z-index: 15;
    width: 80%;
    height: 2.5rem;
    border-radius: 0.75rem 0.75rem 0 0;
    margin: 0 0 0 -0.25rem;
    border: none;
    background-color: var(--vanilla);
    color: var(--charcoal);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}