.workspaceSection {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sideBarForm {
    display: flex;
    flex-direction: column;
    width: 21.25rem;
    border-radius: 1.25rem;
    gap: 16px;
    padding: 16px;
    background-color: var(--vanilla);
}

.canvasContainer {
    flex-grow: 1;
    background-color: var(--dark-vanilla);
}