.profileSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    min-width: 21.25rem;
    height: fit-content;
    padding: 20px;
    border-radius: 0.75rem;
    background-color: var(--vanilla);
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileSection h2 {
    align-self: flex-start;
}

.editButton {
    border: none;
    background: transparent;
    width: fit-content;
    height: fit-content;
}

.titleDivider {
    width: 100%;
    background-color: var(--charcoal);
    padding: 0 0 3px 0; /* padding instead of height to avoid BFC issues */
    border: none;
    margin-top: -0.5rem;
    border-radius: 9999px;
    box-shadow: none;
}

.displayName {
    align-self: center;
}

.email {
    background-color: var(--snowdrop);
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
}

.deleteDivider {
    width: 100%;
    padding: 1.5rem; /* padding instead of height to avoid BFC issues */
    border: 2px solid var(--rosie-danger);
    margin-top: 1rem;
    border-radius: 0.75rem;
}

.deleteDividerTitle {
    margin-top: -3rem;
    padding: 0.5rem;
    background-color: var(--vanilla);
    width: fit-content;
}