.imageWrapper {
    width: 986px;
    max-width: 100%;
}

.screenshotImage {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.informationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.actionDivider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


/* Mobile and tablet */

@media (max-width: 700px) {
    .informationWrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 0;
    }

    .actionDivider:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}