.base {
    font-size: 1.25rem;
    padding: 0.3rem 1rem;
    border-radius: 30px;
    border: none;
  }
  
  .snowdrop {
    background: var(--snowdrop);
    color: var(--charcoal);
  }

  .snowdrop:hover {
    background: var(--vanilla);
    color: var(--charcoal);
  }
  
  .terracotta {
    background: var(--terracotta);
    color: var(--snowdrop);
  }

  .terracotta:hover {
    background: var(--terracotta-dark);
    color: var(--snowdrop);
  }

  .cornflower {
    background: var(--cornflower-active);
    color: var(--snowdrop);
  }

  .cornflower:hover {
    background: var(--cornflower-dark);
    color: var(--snowdrop);
  }
  
  .disabled {
    background: var(--dark-vanilla);
    color: var(--vanilla);
    cursor: not-allowed;
  }