.base {
    font-size: 0.875rem;
    padding: 0.2rem 0.55rem;
    border-radius: 9999px;
    background: var(--dark-vanilla);
    color: var(--charcoal);
}

/* variants */
.success {
    background-color: var(--stem-success);
    color: var(--snowdrop);
}

.warning {
    background-color: var(--buttercup-warning);
    color: var(--snowdrop);
}

.error {
    background-color: var(--rosie-danger);
    color: var(--snowdrop);
}