.ctaContainer {
    position: absolute;
    z-index: 1;
    background: var(--dark-vanilla);
    color: var(--charcoal);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    border-radius: 0.5rem;
    max-width: 40rem;
    min-width: 20rem;
    flex-direction: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Mobile */
@media (max-width: 480px) {

    .ctaContainer {
        padding: 2rem;
        top: 45%;
    }
}