.ctaContainer {
    position: absolute;
    z-index: 1000;
    background: var(--dark-vanilla);
    color: var(--charcoal);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    border-radius: 0.5rem;
    max-width: 40rem;
    flex-direction: flex;
    flex-direction: column;
    gap: 1rem;
}

