.frameForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 16.75rem;
    padding-left: 1.5rem;
}

.addFrameButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 0.5rem 0;
    background-color: transparent;
    color: var(--charcoal);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.addIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--snowdrop);
}

.frameDivider {
    height: 3px;
    background-color: var(--dark-vanilla);
    margin: 0.5rem 0 1rem 0;
    border: none;
    border-radius: 9999px;
    box-shadow: none;
  }