.warningBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--buttercup-warning);
    padding: 0.5rem;
    width: 100%;
}

.message {
    color: var(--snowdrop);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}