/* Shared styling StructuralForm component */
.structuralForm {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.openFormGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    background-color: var(--vanilla);
    border-radius: 3rem;
    padding-right: 0.75rem;
}
.structuralFormButton {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--vanilla);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.buttonIcon {
    width: 2rem;
    height: 2rem;
}

.visuallyHiddenLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}


/* Flooring Form Styles */
.colorInput {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.colorPickerContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

/* Wall Color Form Styles */
.hexCode {
    font-size: 1rem;
    background: var(--snowdrop);
    border-radius: 3rem;
    padding: 0.3rem 1rem;
    color: var(--charcoal);
}

/* In StructuralForm.module.css */

.colorInput {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    cursor: pointer;
}

.wallColorContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.colorInputWrapper {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.colorInputDisplay {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
}