name: Frontend Lint

on:
  pull_request:
    branches: [ main, dev ]

jobs:
  lint:
     runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '23.x'
    
    - name: Install dependencies
      working-directory: ./frontend
      run: npm ci
    
    - name: Run ESLint
      working-directory: ./frontend
      run: npm run lint

    - name: Run Type-check
      working-directory: ./frontend
      run: npm run type-check
