.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.75rem;
}

.aboutUsButton {
    align-self: flex-end;
    transform-origin: center;
}

.aboutUsButton:hover {
    animation: wave 0.8s ease-in-out infinite;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}